@import url(shino.css);
@import url(highlight.css);

/*
背景图信息文字颜色
*/
.pixiv-title {
    color: rgba(0, 0, 0, 0.73);
}
    .pixiv-title:hover {
        color: #000;
    }

.pixiv-author {
    color: rgba(0, 0, 0, 0.73);
}
    .pixiv-author:hover {
        color: #000;
    }


/*
背景图位置（通用）
*/
.panel-cover {
    background-position: top left;
}

.panel-cover--collapsed {
    background-position-x: 20%;
}

/*
手机视图
*/
@media all and (max-width: 960px) {
/*
背景图位置
*/
    .panel-cover {
        background-position-x: 18%;
    }

/*
下拉菜单颜色
*/
    .navigation-wrapper {
    background: rgba(234, 213, 213, 0.43);
    }
}

/*
手机视图下菜单按扭颜色
*/
.btn-mobile-menu {
    background: rgb(234, 213, 213);
}

/*
导航按扭颜色
*/
.navigation__item a {
    border-color: rgba(0, 0, 0, 0.58);
    color: rgba(0, 0, 0, 0.73);
}
    .navigation__item a:hover {
        color: #000;
            border-color: #000;
    }
