@import url(shino.css);
@import url(highlight.css);


/*
标题
*/
.panel-title {
    color: #fff;
}

/*
头像边框
*/
.user-image {
    border-color: #fff;
    opacity: 1.0;
}

/*
介绍文字
*/
.panel-cover__description {
    color: #fff;
}

/*
分割线顔色
*/
.panel-cover__divider {
    border-color: #fff;
    opacity: 0.9;
}

/*
导航按扭颜色
*/
.navigation__item a {
    border-color: #fff;
    color: #fff;
    opacity: 0.9;
}

/*
背景图信息文字颜色
*/
.pixiv-title {
    color: #fff;
    opacity: 0.9;
}
    .pixiv-title:hover {
        color: #fff;
    }

.pixiv-author {
    color: #fff;
    opacity: 0.9;
}
    .pixiv-author:hover {
        color: #fff;
    }

/*
背景图位置（通用）
*/
.panel-cover {
    background-position: bottom;
}

.panel-cover--collapsed {
    background-position-x: 50%;
}

/*
手机视图
*/
@media all and (max-width: 960px) {
/*
背景图位置
*/
    .panel-cover {
        background-position-x: 50%;
    }

/*
下拉菜单颜色
*/
    .navigation-wrapper {
    background: rgba(234, 213, 213, 0.43);
    }
}

/*
手机视图下菜单按扭颜色
*/
.btn-mobile-menu {
    background: rgb(234, 213, 213);
}
