<footer class="footer">
  <span class="footer__copyright">本站使用<a href="https://github.com/shino-996/ShinoJelyll">ShinoJeky</a>ll主题，布署在<a href="https://www.digitalocean.com">Digitalocean</a>的VPS上。</span>
  <span class="footer__copyright">&copy; 2016-{{ site.time | date: '%Y' }} {{ site.author.name }}. All rights reserved.</span>
</footer> 

<script type="text/javascript" src="{{ "js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "js/main.js" | prepend: site.baseurl }}"></script>
